* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

slides {
  color: gold;
  font-size: 5vmin;
  text-shadow: 0 0 2.5vmin currentColor;
  overflow: hidden;
  display: flex;
  position: relative;
}

slides img {
  width: 100%;
}

prev, next{
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

prev {
  left: 1%;
}

next {
  right: 1%;
}

indicators {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: absolute;
  bottom: 2.5%;
  left: 0;
  right: 0;
}

dot {
  font-size: 50%;
  cursor: pointer;
}
